*
{
  box-sizing: border-box;

  /* cursor:url("http://www.rw-designer.com/cursor-view/61295.png"); */
}

body{
  background-color: rgba(238, 238, 238, 0.62);
  font-size: 16px;
  /* font-family: 'Antic Slab', serif; */
  font-family: 'Gentium Basic', serif;
  /* cursor: url("img/1.cur") 5 5; */
  cursor:crosshair;

  /* cursor:crosshair; */
}

p{
  margin: 0;
}

.all{
  width: 100%;
  /* cursor: url("img/1.png") 5 5; */
}

.text{
  width:32%;
  min-width:370px;
  margin:15px 10px 0 30px;
  /* color:white; */
  position: absolute;
  right:10px;
}

.chinese{
  font-family: Simsun, serif;


}

.bottom{
  /* bottom:20px; */
  /* position: absolute; */
}
